.supertext {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: all ease 400ms;
    // will-change: transform;
    // transform: translate3d(-0.0027px, -0.0024px, 0px) scale3d(1, 1, 1) rotateX(
    // 0deg
    // ) rotateY(
    // 0deg
    // ) rotateZ(
    // 0deg
    // ) skew(
    // 0deg
    // , 
    // 0deg
    // );
    // transform-style: preserve-3d;
}